.hypermodel-wrapper .hypermodel-area {
    position: relative;
    z-index: 100;
    font-size: 0;
    margin-bottom: 100px;
}

.hypermodel-wrapper .hypermodel-area:after {
    display: block;
    height: 0;
    content: '';
    clear: both;
}

.hypermodel-wrapper .hypermodel:before,
.hypermodel-wrapper .hypermodel:after {
    display: block;
    content: '';
    clear: both;
}

.hypermodel-wrapper .hypermodel-area .hypermodel-column {
    float: left;
    display: block;
    width: 240px;
    margin-right: 40px;
    vertical-align: top;
}

.hypermodel-wrapper .hypermodel-area .hypermodel-column:last-child {
    margin-right: 0;
}

.hypermodel-wrapper .hypermodel-area .hypermodel-column-add {
    position: relative;
    height: 480px;
    line-height: 480px;
    font-size: 48px;
    text-align: center;
    text-decoration: none;
    color: rgba(192, 192, 192, .75);
    background-color: rgba(192, 192, 192, .15);
    border: 1px solid rgba(192, 192, 192, .6);
    border-radius: 5px;
    transition: background-color .3s ease, border-color .3s ease, color .3s ease;
    -o-transition: background-color .3s ease, border-color .3s ease, color .3s ease;
    -moz-transition: background-color .3s ease, border-color .3s ease, color .3s ease;
    -webkit-transition: background-color .3s ease, border-color .3s ease, color .3s ease;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.hypermodel-wrapper .hypermodel-area .hypermodel-column-add:hover {
    background-color: rgba(0, 0, 0, .15);
    border-color: rgba(0, 0, 0, .3);
    color: rgba(0, 0, 0, .6);
}

.hypermodel-wrapper .hypermodel-grid {
    font-size: 13px;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, .175);
    -o-box-shadow: 0 0 8px rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .175);
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.hypermodel-wrapper .hypermodel-grid.hypermodel-inactive .hypermodel-arrow {
    transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
}

.hypermodel-wrapper .hypermodel-grid:last-child {
    margin-bottom: 0;
}

.hypermodel-wrapper .hypermodel-grid .hypermodel-header {
    border: 2px solid transparent;
    background-color: #ffffff;
    transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -webkit-transition: background-color .3s ease;
}

.hypermodel-wrapper .hypermodel-grid .hypermodel-header:hover {
    background-color: #fafafa;
}

.hypermodel-wrapper .hypermodel-grid .hypermodel-body {
    border-top: 1px solid #d8d8d8;
    background-color: rgba(224, 224, 224, .65);
    min-height: 30px;
}

.hypermodel-wrapper .hypermodel-grid .hypermodel-header,
.hypermodel-wrapper .hypermodel-grid .hypermodel-body {
    padding: .6em 1em;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.hypermodel-item {
    display: block;
    height: 2.6em;
    line-height: 2.4em;
    background-color: #fcfcfc;
    padding: 0 1em;
    margin-bottom: 8px;
    color: #333333;
    font-size: 95%;
    text-decoration: none;
    border: 1px solid #cccccc;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .125);
    -o-box-shadow: 0 0 6px 0 rgba(0, 0, 0, .125);
    -moz-box-shadow: 0 0 6px 0 rgba(0, 0, 0, .125);
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, .125);
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.hypermodel-wrapper .hypermodel-grid.hypermodel-grid-disabled,
.hypermodel-wrapper .hypermodel-grid .hypermodel-body .hypermodel-item.hypermodel-item-disabled {
    opacity: .5;
}

.hypermodel-wrapper .hypermodel-grid .hypermodel-body .hypermodel-item i {
    width: 1.2em;
    position: relative;
    z-index: 100;
}

.hypermodel-wrapper .hypermodel-grid .hypermodel-body .hypermodel-item .hypermodel-item-config {
    float: right;
    display: none;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 50%;
    vertical-align: middle;
    color: #333333;
    margin-top: .2em;
    transition: background-color .3s ease, color .3s ease;
    -o-transition: background-color .3s ease, color .3s ease;
    -moz-transition: background-color .3s ease, color .3s ease;
    -webkit-transition: background-color .3s ease, color .3s ease;
}

.hypermodel-wrapper .hypermodel-grid .hypermodel-body .hypermodel-item:hover .hypermodel-item-config {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.hypermodel-wrapper .hypermodel-grid .hypermodel-body .hypermodel-item:hover .hypermodel-item-config:hover {
    background-color: rgba(0, 0, 0, .1);
    color: #000000;
}

.hypermodel-wrapper .hypermodel-changed {
    background-color: #f7ffff !important;
}

.hypermodel-wrapper .hypermodel-changed .hypermodel-header {
    border-color: #6092fe;
}

.hypermodel-comment {
    text-align: center;
    padding: 1.4em 0 2em;
}

.hypermodel-item .hypermodel-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 1px;
    background-color: transparent;
    padding: 0 1em 0 2.2em;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.hypermodel-wrapper .hypermodel-grid-add,
.hypermodel-wrapper .hypermodel-grid .hypermodel-body .hypermodel-item-add {
    display: block;
    height: 3.4em;
    line-height: 3.1em;
    text-align: center;
    background-color: rgba(255, 255, 255, .3);
    font-size: 105%;
    color: #6092fe;
    border: 1px dashed #b2b2b2;
}

.hypermodel-wrapper .hypermodel-grid-add {
    height: 10em;
    line-height: 9.8em;
    font-size: 1.05rem;
}

.hypermodel-wrapper .hypermodel-grid-add i,
.hypermodel-wrapper .hypermodel-grid-add span,
.hypermodel-wrapper .hypermodel-grid .hypermodel-body .hypermodel-item-add i,
.hypermodel-wrapper .hypermodel-grid .hypermodel-body .hypermodel-item-add span {
    vertical-align: middle;
}

.hypermodel-wrapper .hypermodel-grid-add i,
.hypermodel-wrapper .hypermodel-grid .hypermodel-body .hypermodel-item-add i {
    margin-right: .2em;
    margin-top: .04em;
    font-size: 160%;
}

.hypermodel-wrapper .hypermodel-area .hypermodel-column .hypermodel-header,
.hypermodel-wrapper .hypermodel-area .hypermodel-column .hypermodel-body .hypermodel-item {
    transition: border .3s ease;
    -o-transition: border .3s ease;
    -moz-transition: border .3s ease;
    -webkit-transition: border .3s ease;
}

.hypermodel-wrapper .hypermodel-area .hypermodel-column .hypermodel-body .hypermodel-item span i {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 1em;
    margin-right: .4em;
}

.hypermodel-wrapper .hypermodel-area .hypermodel-column.hypermodel-column-active .hypermodel-header,
.hypermodel-wrapper .hypermodel-area .hypermodel-column.hypermodel-column-active .hypermodel-body .hypermodel-item {
    border: 2px solid #a2b7ff;
    position: relative;
    z-index: 3000;
}

.hypermodel-wrapper .hypermodel-area .hypermodel-column .hypermodel-header h3 {
    padding: 1em 0;
    font-size: 115%;
    color: #222222;
    margin: 0;
    padding: 0;
    line-height: 1.8em;
    overflow: hidden;
}

.hypermodel-wrapper .hypermodel-area .hypermodel-column .hypermodel-header h3 span,
.hypermodel-wrapper .hypermodel-area .hypermodel-column .hypermodel-header h3 a,
.hypermodel-wrapper .hypermodel-area .hypermodel-column .hypermodel-header h3 i {
    vertical-align: middle;
}

.hypermodel-wrapper .hypermodel-area .hypermodel-column .hypermodel-header h3 .hypermodel-header-tools {
    float: right;
    text-align: right;
}

.hypermodel-wrapper .hypermodel-area .hypermodel-column .hypermodel-header h3 .hypermodel-arrow {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    text-align: center;
    line-height: 1.4em;
    color: #333333;
    font-size: 130%;
    transition: color .3s ease, background-color .3s ease, transform .3s ease, -webkit-transform .3s ease;
    -o-transition: color .3s ease, background-color .3s ease, transform .3s ease, -webkit-transform .3s ease;
    -moz-transition: color .3s ease, background-color .3s ease, transform .3s ease, -webkit-transform .3s ease;
    -webkit-transition: color .3s ease, background-color .3s ease, transform .3s ease, -webkit-transform .3s ease;
}

.hypermodel-wrapper .hypermodel-area .hypermodel-column .hypermodel-header h3 .hypermodel-arrow:hover {
    background-color: rgba(0, 0, 0, .05);
    color: #000000;
}

.hypermodel-wrapper .hypermodel-grid .hypermodel-body .hypermodel-item .hypermodel-outlet {
    float: right;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 1.2em;
    height: 1.2em;
    margin-top: .45em;
    vertical-align: middle;
    border-radius: .6em;
    border: 1px solid #6497fe;
    background-color: #6497fe;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
}

.hypermodel-wrapper .hypermodel-grid .hypermodel-body .hypermodel-item .hypermodel-outlet:before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 1.2em;
    height: 1.2em;
    border-radius: .6em;
    background-color: #ffffff;
    transform: scale(.9);
    -o-transform: scale(.9);
    -moz-transform: scale(.9);
    -webkit-transform: scale(.9);
    transition: transform .3s ease, -webkit-transform .3s ease;
    -o-transition: transform .3s ease, -webkit-transform .3s ease;
    -moz-transition: transform .3s ease, -webkit-transform .3s ease;
    -webkit-transition: transform .3s ease, -webkit-transform .3s ease;
}

.hypermodel-wrapper .hypermodel-grid .hypermodel-body .hypermodel-item .hypermodel-outlet:hover:before {
    transform: scale(.2);
    -o-transform: scale(.2);
    -moz-transform: scale(.2);
    -webkit-transform: scale(.2);
}

.hypermodel-wrapper .hypermodel-grid .hypermodel-body .hypermodel-item .hypermodel-outlet.hypermodel-outlet-active:before {
    transform: scale(.4);
    -o-transform: scale(.4);
    -moz-transform: scale(.4);
    -webkit-transform: scale(.4);
}

.hypermodel-wrapper .hypermodel-column > .ui-sortable-placeholder {
    min-height: 120px;
    background-color: rgba(255, 255, 255, .15);
    border: 1px dashed rgba(255, 255, 255, .6);
    margin-bottom: 20px;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, .175);
    -o-box-shadow: 0 0 8px rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .175);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .175);
    visibility: visible !important;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.hypermodel-wrapper .hypermodel-grid .hypermodel-body > .ui-sortable-placeholder {
    height: 2.6em;
    line-height: 2.6em;
    background-color: rgba(255, 255, 255, .4);
    padding: 0 1em;
    margin-bottom: 4px;
    border: 1px dashed rgba(0, 0, 0, .1);
    font-size: 85%;
    border-radius: 3px;
    visibility: visible !important;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.hypermodel-wrapper .hypermodel-grid-add:hover,
.hypermodel-wrapper .hypermodel-grid .hypermodel-body .hypermodel-item:hover {
    background-color: #ffffff;
    box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    -o-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, .25);
}

.hypermodel-wrapper .hypermodel-grid .hypermodel-body .hypermodel-item:last-child {
    margin-bottom: 0;
}

.hypermodel-controller {
    margin-left: 10px;
    text-align: left;
}

.hypermodel-controller,
.hypermodel-item-clone {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5000;
}

.hypermodel-controller,
.hypermodel-controller-depth {
    opacity: 0;
    transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}

.hypermodel-controller .btn {
    margin-top: 0;
    margin-bottom: .6em;
    transition: transform .5s ease, -webkit-transform .5s ease;
    -o-transition: transform .5s ease, -webkit-transform .5s ease;
    -moz-transition: transform .5s ease, -webkit-transform .5s ease;
    -webkit-transition: transform .5s ease, -webkit-transform .5s ease;
    transform: translate3d(0, 60px, 0);
    -o-transform: translate3d(0, 60px, 0);
    -moz-transform: translate3d(0, 60px, 0);
    -webkit-transform: translate3d(0, 60px, 0);
}

.hypermodel-controller-show,
.hypermodel-controller-depth-show {
    opacity: 1;
}

.hypermodel-controller-begin > .btn,
.hypermodel-controller-depth.hypermodel-controller-depth-begin > .btn {
    transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

.hypermodel-controller .btn-force {
    background-color: #222222;
}

.hypermodel-controller .btn-force.btn-active {
    background-color: #000000;
}

.hypermodel-controller .hypermodel-controller-depth {
    position: absolute;
    top: 0;
    left: 90px;
}

.hypermodel-controller.hypermodel-controller-bottom .hypermodel-controller-depth {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 90px;
}

.hypermodel-controller .hypermodel-controller-depth i {
    width: 1.2em;
    margin-right: .4em;
}
